@charset "utf-8";
/* CSS Document */
.datagrid-toolbar > div{
	padding: 10px;
}
.datagrid-toolbar > div > form{
	font-size:14px;
}
.datagrid-toolbar > div > form > input,.datagrid-toolbar > div > form > select{
	margin:0 20px 0 5px;
}
#promotionDesc {
-moz-box-shadow:1px 1px 0 #E7E7E7;
-moz-box-sizing:border-box;
border-color:#CCCCCC #999999 #999999 #CCCCCC;
border-style:solid;
border-width:1px;
border-radius: 5px;
font-family:arial,sans-serif;
font-size:15px;
height:160px;
margin:10px auto;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
padding:2px;
width:50%;
}
.inp{
	padding:5px 9px;
	height:18px;
	line-height:18px;
	border:solid 1px #b5b5b5;
	border-radius:5px;
	-webkit-border-radius:5px;
	-mos-border-radius:5px;
	width:120px;
}
.select{
	height:30px;
	line-height:30px;
	padding:0 0 0 5px;
	width:135px;
}
.l-btn-focus{
	outline: none;
}
.datagrid-toolbar > div > form  .l-btn-plain{
	border-width:1px;
}
.datagrid-header td{
	padding: 10px 0;
}
.datagrid-header td,.datagrid-body td, .datagrid-footer td{
	padding:7px 0;
	text-align:center;
	border-style:solid;
	border-width:0 0 1px 0
}
.datagrid-header td{
	padding: 10px 0;
}
.datagrid-header .datagrid-cell span{
	font-size:14px;
	font-weight:600;
}
button,a.button{
	outline:none;
	border:none;
	padding:0 10px;
	height:30px;
	line-height:25px;
	background-color: #56bdde;
	color:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;	
	display: inline-block;
}
.datagrid-header-rownumber, .datagrid-cell-rownumber{
	width:45px;
}
.datagrid-header-inner{
	width:100%;
}
.datagrid-htable,.datagrid-btable{
	width:100%; 
}
.datagrid-cell-c1-consigneeAddress{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tab1,.goods-view{
	width:550px;
	margin:0 auto;	
}
.tab1 td{
	font-size:16px;
	font-weight: normal;
    vertical-align:top;
}
.tab1 .tb_right{
	text-align:right;
	padding-right:5px;
}
.tab1 th{
	padding:20px 0 10px 0;
	font-size: 16px;
	font-weight: normal;
	text-align:center;
}
.tab1 td[rowspan='4']{
	background-color:#f2f2f2;
	text-align: center;
}
.tab1 td[rowspan='4'] img{
	max-width:100%;
}
.tab1 td span{
	padding-right:5px; 
}
.goods-view > h2{
	padding:15px 10px 15px 0;
	font-size: 16px;
	font-weight: normal;
}
.goods-view > div{
	width: 100%;
	height:100px; 
	background-color:#f2f2f2;
	font-size: 14px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding: 10px;
	color:#999;
	-webkit-user-select: none;  /* Chrome all / Safari all /opera15+*/  
	-moz-user-select: none;     /* Firefox all */  
	-ms-user-select: none;      /* IE 10+ */  
	user-select: none;  
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.goods-view > div > textarea{
	width:100%;
	height:100%;
	border:none;
	outline:none;
	background-color:transparent; 
	color:#999;
}
.goods-view > div:last-of-type{
	margin-bottom: 20px;
}
.dialog-button{
	text-align: center;
}
.l-btn-text{
	padding:0 10px; 
}
.dialog-button .l-btn{
	margin:0 5px;
}

.orderProTab{
	width:100%;
	margin-top: 20px;
}
.orderProTab td,.orderProTab th{
	padding: 10px 0;
	text-align: center;
	font-size: 14px;
}
.orderProTab th{
	font-size: 16px;
	font-weight: normal;
}
.uploadFile input[type=file]{
	position: absolute;
    font-size: 100px;
    right:0;
    top: 0;
    opacity: 0!important;
    background:transparent;
    cursor: point;
    width:50px;
}
.uploadFile{
	position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    cursor: point;
	/*left:115px;*/
}

.uploadFile:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
    cursor: point;
}
.aMarimg{
	left:-68px;
	top:50px;
}
#mainform{
	height:100% 
}
#sendProFormDiv {
	padding-top: 80px;
	padding-left: 100px;
	
}
#sendProFormDiv  > label{
	font-size:16px;
	padding: 0 10px;
}
.order-title{
	padding: 20px;
	font-size: 20px;
	border-bottom:solid 1px #dedede;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.order-table{
	width: 100%;
	margin: 10px 0;
}
.order-table td{
	padding: 10px 0 10px 20px;
	font-size: 16px;
}
.order-table td strong{
	font-weight: normal;
	width: 100px;
	text-align: right;
	display: inline-block;
}
.table-list01{
	width: 100%;
	table-layout:fixed;
}
.table-list01 th,.table-list01 td{
	padding: 10px;
	border-bottom: solid 1px #dedede; 
	text-align: center;
	font-size: 16px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.table-list01 th{
	padding: 15px;
	background-color: #dbf1f8;
	font-weight: normal;
	font-size: 18px;
}




/*start 运营商后台推广管理模块样式*/
@charset "utf-8";
/* CSS Document */
.datagrid-toolbar > div{
	padding: 10px;
}
.datagrid-toolbar > div > form{
	font-size:14px;
}
.datagrid-toolbar > div > form > input,.datagrid-toolbar > div > form > select{
	margin:0 20px 0 5px;
}
.inp{
	padding:5px 9px;
	height:18px;
	line-height:18px;
	border:solid 1px #b5b5b5;
	border-radius:5px;
	-webkit-border-radius:5px;
	-mos-border-radius:5px;
	width:120px;
}
.select{
	height:30px;
	line-height:30px;
	padding:0 0 0 5px;
	width:135px;
}
.l-btn-focus{
	outline: none;
}
.datagrid-toolbar > div > form  .l-btn-plain{
	border-width:1px;
}
.datagrid-header td{
	padding: 10px 0;
}
.datagrid-header td,.datagrid-body td, .datagrid-footer td{
	padding:7px 0;
	text-align:center;
	border-style:solid;
	border-width:0 0 1px 0
}
.datagrid-body>table {
	width:100%;
}
.datagrid-header td{
	padding: 10px 0;
}
.datagrid-header .datagrid-cell span{
	font-size:14px;
	font-weight:600;
}
button,a.button{
	outline:none;
	border:none;
	padding:0 10px;
	height:30px;
	line-height:25px;
	background-color: #56bdde;
	color:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;	
	display: inline-block;
}
.datagrid-header-rownumber, .datagrid-cell-rownumber{
	width:45px;
}
.datagrid-header-inner{
	width:100%;
}
.datagrid-htable,.datagrid-btable{
	width:100%; 
}
.datagrid-cell-c1-consigneeAddress,.datagrid-cell-c1-remark,.datagrid-cell-c1-feedContent,.datagrid-cell-c1-name{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tab1,.goods-view{
	width:550px;
	margin:0 auto;	
}
.tab1 td{
	font-size:14px;
    vertical-align:top;
}
.tab1 .tb_right{
	text-align:right;
	padding-right:5px;
}
.tab1 th{
	padding:20px 0 10px 0;
	font-size: 16px;
	font-weight: normal;
	text-align:center;
}
.tab1 td[rowspan='4']{
	background-color:#f2f2f2;
	text-align: center;
}
.tab1 td[rowspan='4'] img{
	max-width:100%;
}
.tab1 td span{
	padding-right:5px; 
}
.goods-view > h2{
	padding:15px 10px 15px 0;
	font-size: 16px;
	font-weight: normal;
}
.goods-view > div{
	width: 100%;
	height:100px; 
	background-color:#f2f2f2;
	font-size: 14px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding: 10px;
	color:#999;
	-webkit-user-select: none;  /* Chrome all / Safari all /opera15+*/  
	-moz-user-select: none;     /* Firefox all */  
	-ms-user-select: none;      /* IE 10+ */  
	user-select: none;  
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.goods-view > div > textarea{
	width:100%;
	height:100%;
	border:none;
	outline:none;
	background-color:transparent; 
	color:#999;
}
.goods-view > div:last-of-type{
	margin-bottom: 20px;
}
.dialog-button{
	text-align: center;
}
.l-btn-text{
	padding:0 10px; 
}
.dialog-button .l-btn{
	margin:0 5px;
}

.orderProTab{
	width:100%;
	margin-top: 20px;
}
.orderProTab td,.orderProTab th{
	padding: 10px 0;
	text-align: center;
	font-size: 14px;
}
.orderProTab th{
	font-size: 16px;
	font-weight: normal;
}
.uploadFile input[type=file]{
	position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: point;
}
.uploadFile{
	position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    cursor: point;
}
.uploadFile:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
    cursor: point;
}
#mainform{
	height:100% 
}

#sendProFormDiv  > label{
	font-size:16px;
	padding: 0 10px;
}
.formTable th,.formTable td{
	padding:10px 0;
	font-size: 14px;
}
.formTable th{
	width: 100px;
	padding-right:10px;
	text-align: right;
	font-weight: normal;
	font-size: 16px;
}

.formTable td textarea{
	padding: 10px;
	height: 80px;
	border:solid 1px #dedede;
	font-size: 14px;
	color:#333;
}
.formTable td[colspan='2']{
	font-size:16px;
	font-weight: 700
}
 #dg > tbody > tr > th, #dg > tbody > tr > td{
	/*padding:10px 0;*/
	font-size: 16px;  
}
 #dg > tbody > tr > th{
	width: 150px;
	padding-right:10px;
	text-align: right;
	 font-weight: normal;
}

 #dg > tbody > tr > td textarea{
	padding: 10px;
	height: 80px;
	border:solid 1px #dedede;
	font-size: 14px;
	color:#333;
} 

#showAdv{
	width: 90%;
}
#showAdv th,#showAdv td{
	font-size: 14px;
	text-align: center;
	padding: 10px 0;
}
#showAdv label{
	display: inline-block;
	width: 20px;
	height: 20px;	
}
.order-table{
	width: 100%;
	margin: 10px 0;
}
.order-table td{
	padding: 10px 0 10px 20px;
	font-size: 16px;
}
.order-table td strong{
	font-weight: normal;
	width: 100px;
	text-align: right;
	display: inline-block;
}
.order-table td[colspan='2']{
	border-bottom: solid 1px #dedede;
	font-size: 20px;
	padding: 20px;
}
.table-list01{
	width: 100%;
}
.table-list01 th,.table-list01 td{
	padding: 10px;
	border-bottom: solid 1px #dedede; 
	text-align: center;
	font-size: 16px;
}
.table-list01 th{
	padding: 15px;
	background-color: #dbf1f8;
	font-weight: normal;
	font-size: 18px;
}
.btnDiv{
	padding: 0 0 10px 20px
}
.table-list02{
	margin-top:20px; 
	width: 100%;
}
.table-list02 th,.table-list02 td{
	padding: 10px 0;
	font-size: 16px;
	vertical-align: top;
}
.table-list02 th{
	font-size: 18px;
	font-weight: normal;
	text-align: right;
	padding-left: 20px;
	width: 150px;
}
.textarea{
	width: 80%;
	height:150px;
	outline: none;
	padding: 10px;
	border: solid 1px #dfdfdf; 
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.note{
	line-height: 30px;
}
/*END*/
/*订单信息查看面板*/
#dlg .order-table td[colspan='2'] {
	border-bottom:0;
	font-size:16px;
	padding:10px 0 10px 20px;
}
.panel window easyui-fluid{
   display: block; 
   width: 588px; 
   left: 334px; 
   top: 44px; 
   z-index: 9008; 
   position: absolute;
}
/*导入*/
#orderImport {
	padding-left:40px;
	width:448px;
	font-size:14px;
}
#ss-Import {
	margin-top:30px;
}
.ss-submit {
	margin-top:30px;
	margin-left:28px;
	background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
#orderImport input {
	 display: inline-block; 
}

#ss-download {
	border:none;
	background-color:transparent;
	height:24px;
}
